<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Classification</title>
    <style>
        #progress-container {
            width: 100%;
            background-color: #f3f3f3;
            border: 1px solid #ccc;
            margin-top: 20px;
        }

        #progress-bar {
            width: 0%;
            height: 30px;
            background-color: #4caf50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Text Classification with FinBERT</h1>
    <form id="textForm" enctype="multipart/form-data">
        <label for="file">Upload PDF:</label><br>
        <input type="file" id="file" name="file" accept=".pdf"><br><br>
        <label for="year">Select Year:</label><br>
        <select id="year" name="year" required>
            <option value="">Select Year</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2023">2024</option>
        </select><br><br>
        <input type="button" value="Store Data" id="storeButton">
        <input type="button" value="Get Data" id="getButton">
        <input type="button" value="Process Data" id="processButton">
    </form>
    <div id="progress-container">
        <div id="progress-bar">0%</div>
    </div>
    <h2 id="result"></h2>

    <h1>Get Summary</h1>
    <form id="summaryForm">
        <label for="summaryYear">Select Year:</label><br>
        <select id="summaryYear" name="summaryYear" required>
            <option value="">Select Year</option>
            <!-- Years will be dynamically populated -->
        </select><br><br>
        <label for="factor">Select Macroeconomic Factor:</label><br>
        <select id="factor" name="factor" required>
            <option value="">Select Factor</option>
            <option value="Inflation">Inflation</option>
            <option value="International Trade">International Trade</option>
            <option value="GDP Growth">GDP Growth</option>
            <option value="Exchange Rates">Exchange Rates</option>
            <option value="Monetary Policy">Monetary Policy</option>
            <option value="Fiscal Policy">Fiscal Policy</option>
            <option value="Unemployment">Unemployment</option>
        </select><br><br>
        <input type="button" value="Get Summary" id="getSummaryButton">
    </form>
    <h2 id="summaryResult"></h2>

    <h1>Survey Data</h1>
    <form id="surveyForm" enctype="multipart/form-data">
        <label for="surveyFile">Upload Survey Data (Excel):</label><br>
        <input type="file" id="surveyFile" name="file" accept=".xlsx"><br><br>
        <input type="button" value="Insert Survey Data" id="insertSurveyButton">
    </form>
    <h2 id="surveyResult"></h2>

    <h1>Get Survey Data</h1>
    <form id="surveyDataForm">
        <label for="surveyDataYear">Select Year:</label><br>
        <select id="surveyDataYear" name="surveyDataYear" required>
            <option value="">Select Year</option>
            <!-- Years will be dynamically populated -->
        </select><br><br>
        <input type="button" value="Get Current Data" id="getCurrentDataButton">
        <input type="button" value="Get Future Data" id="getFutureDataButton">
    </form>
    <h2 id="surveyDataResult"></h2>

    <script>
        async function populateYearDropdowns() {
            const surveyYearResponse = await fetch('/get_survey_available_years', {
                method: 'GET'
            });
            const surveyYearResult = await surveyYearResponse.json();
            const surveyYearOptions = surveyYearResult.years.map(year => `<option value="${year}">${year}</option>`).join('');

            const reportYearResponse = await fetch('/get_report_available_years', {
                method: 'GET'
            });
            const reportYearResult = await reportYearResponse.json();
            const reportYearOptions = reportYearResult.years.map(year => `<option value="${year}">${year}</option>`).join('');

            // Populate year dropdowns for various forms
            {#document.getElementById('year').innerHTML += yearOptions;#}
            document.getElementById('summaryYear').innerHTML += reportYearOptions;
            document.getElementById('surveyDataYear').innerHTML += surveyYearOptions;
        }

        // Populate the year dropdowns when the page loads
        document.addEventListener('DOMContentLoaded', populateYearDropdowns);

        document.getElementById('storeButton').onclick = async function(event) {
            const year = document.getElementById('year').value;
            if (year === "") {
                alert("Please select a year.");
                return;
            }

            event.preventDefault();
            const formData = new FormData();
            formData.append('file', document.getElementById('file').files[0]);
            formData.append('year', year);

            const response = await fetch('/store_data', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            document.getElementById('result').innerText = JSON.stringify(result.status, null, 2);

            let progress = 0;
            const progressBar = document.getElementById('progress-bar');
            const interval = setInterval(() => {
                if (progress >= 100) {
                    clearInterval(interval);
                } else {
                    progress += 10;
                    progressBar.style.width = progress + '%';
                    progressBar.innerText = progress + '%';
                }
            }, 100);
        };
         document.getElementById('processButton').onclick = async function(event) {
            event.preventDefault();
            const formData = new FormData();
            formData.append('file', document.getElementById('file').files[0]);

            const response = await fetch('/process_data', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            document.getElementById('result').innerText = JSON.stringify(result.results, null, 2);
        };

        document.getElementById('getButton').onclick = async function(event) {
            event.preventDefault();
            const response = await fetch('/get_data', {
                method: 'GET'
            });
            const result = await response.json();
            document.getElementById('result').innerText = JSON.stringify(result.results, null, 2);
        };

        document.getElementById('getSummaryButton').onclick = async function(event) {
            event.preventDefault();
            const summaryYear = document.getElementById('summaryYear').value;
            const factor = document.getElementById('factor').value;
            if (summaryYear === ""|| factor === "") {
                alert("Please select both year and macroeconomic factor.");
                return;
            }

            const response = await fetch('/get_summary_by_factor_year', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ year: summaryYear, factor: factor})
            });
            const result = await response.json();
            document.getElementById('summaryResult').innerText = JSON.stringify(result.summary, null, 2);
        };

        document.getElementById('insertSurveyButton').onclick = async function(event) {
            event.preventDefault();
            const formData = new FormData();
            formData.append('file', document.getElementById('surveyFile').files[0]);

            const response = await fetch('/insert_survey_data', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            document.getElementById('surveyResult').innerText = JSON.stringify(result.status, null, 2);
        };

        document.getElementById('getCurrentDataButton').onclick = async function(event) {
            event.preventDefault();
            const surveyDataYear = document.getElementById('surveyDataYear').value;
            if (surveyDataYear === "") {
                alert("Please select a year.");
                return;
            }

            const response = await fetch('/get_survey_data_current', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ year: surveyDataYear })
            });
            const result = await response.json();
            document.getElementById('surveyDataResult').innerText = JSON.stringify(result, null, 2);
        };

        document.getElementById('getFutureDataButton').onclick = async function(event) {
            event.preventDefault();
            const surveyDataYear = document.getElementById('surveyDataYear').value;
            if (surveyDataYear === "") {
                alert("Please select a year.");
                return;
            }

            const response = await fetch('/get_survey_data_future', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ year: surveyDataYear })
            });
            const result = await response.json();
            document.getElementById('surveyDataResult').innerText = JSON.stringify(result, null, 2);
        };
    </script>
</body>
</html>